body{background-color:whitesmoke;

}

header {
 font-size: 100px;
 text-align: right;

}
h1{
    color: black;
    font-size: 100px;
    text-align: left;
}

nav{
    color: black;
    font-size: 25px;
    text-align: right;
}

h2{
    text-align: left;
    font-size: 75px;
}

p{
    font-size: 35px;
}